@charset "UTF-8";
.shop-panel-main{
	width: 600px;
	margin: 50px auto;
}
@media screen and (max-width: 1200px) {
	.shop-panel-main{
		width: 50%;
	}
}
@media screen and (max-width: 768px) {
	.shop-panel-main{
		width: 80%;
	}
}
@media screen and (max-width: 480px) {
	.shop-panel-main{
		width: 100%;
	}
}